<%= simple_form_for @journal_entry do |f| %>
  <% if @journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal entry from being saved:</h2>

      <ul>
      <% @journal_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="mt-3 mb-3">
        <div class="row">
          <div class="col-3">
            <%= to_journal_date(date) %>
          </div>
        </div>
      </div>

      <% if active_experiment_on_date(date) %>
        <div>
          <%= @active_experiment_on_date&.name %>
          <%= @active_experiment_on_date&.experiment_users.first.starting_date %>
          <%= @active_experiment_on_date&.experiment_users.first.ending_date %>
          You're currently doing the experiment "<strong><%= @active_experiment_on_date&.name %></strong>". Did you stick to the experiment today?
          <%= f.input(:experiment_success, as: :radio_buttons) %>
          <%= f.hidden_field :experiment_id, value: @active_experiment_on_date&.id %>
        </div>
      <% end %>

      <%= f.hidden_field :date, value: date %>

      <%= f.simple_fields_for :journal_ratings do |journal_rating| %>
        <%= journal_rating.hidden_field :id %>
        <%= journal_rating.hidden_field :journal_statement_id %>
        <%= journal_rating.label :journal_statement do |journal_statement| %>
          <%= journal_statement.object.journal_statement.name %>
          <abbr title="required">*</abbr>
        <% end %>
        <%= journal_rating.input :score, label: false, collection: 1..10, as: :radio_buttons, wrapper: :horizontal_collection_inline %>
      <% end %>

      <div class="form-group">
        <%= f.submit "Save journal entry", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
