<%= simple_form_for @journal_entry do |f| %>
  <% if @journal_entry.errors.any? %>
    <div class="col mt-4" id="error_explanation">
      <h6>The journal entry is incomplete and can therefore not be saved. <br>
        Please fill in the field(s) marked in red below:</h6>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="card-body <%= "pb-0" if active_experiment_on_date(date) %>">
        <h5 class="text-intense">Your current experiment</h5>
        <% if active_experiment_on_date(date) %>
          <div class="card mb-3 experiment-banner" style="max-width: 30rem;">
            <div class="row no-gutters">
              <div class="col-3">
                <img class="card-img" src="<%= rails_blob_url(@active_experiment_on_date.image) if @active_experiment_on_date.image.attached? %>">
              </div>
              <div class="col-9 align-self-center">
                <div class="card-body">
                  <h6 class="card-title mb-0"><%= @active_experiment_on_date.name %></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2">
             Did you stick to the experiment today?
          </div>
          <%= f.input(:experiment_success, label: false, as: :radio_buttons, wrapper: :horizontal_collection_inline) %>
          <%= f.hidden_field :experiment_id, value: @active_experiment_on_date.id %>
        <% else %>
          <div class="mb-4">
            You're not doing an experiment at the moment.
          </div>
        <% end %>

        <h5 class="text-intense">Your daily measurement</h5>
        <%= f.hidden_field :date, value: date %>
        <div class="mb-3">
          <span><em>
            How are you feeling today?<br>
            Rate the statements below from 1 (<span class="text-error">completely disagree</span>) to 5 (<span class="text-success">completely agree</span>).
          </em></span>
        </div>
        <%= f.simple_fields_for :journal_ratings do |journal_rating| %>
          <%= journal_rating.hidden_field :id %>
          <%= journal_rating.hidden_field :journal_statement_id %>
          <%= journal_rating.label :journal_statement do |journal_statement| %>
            <span class=""><%= journal_statement.object.journal_statement.name %></span>
            <abbr title="required">*</abbr>
          <% end %>
          <%= journal_rating.input :score, label: false, collection: 1..5, as: :radio_buttons, wrapper: :horizontal_collection_inline %>
        <% end %>
        <div class="form-group">
          <%= f.submit "Save journal entry", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
