<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'dashboard/sidebar_nav' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Journal</h1>
      </div>

      <div class="row">
        <% if completing_experiment %>
          <div class="col-md-12 mb-4">
            <%= render "dashboard/evaluate_experiment", active_experiment: @active_experiment %>
          </div>
        <% end %>

        <div class="col-md-8">
          <h3>Create a new journal entry</h3>
          <%= form_tag(new_journal_entry_path, method: :get) do |journal_entry_date| %>
          <%= label_tag(:date, "Date") %>
          <%= select_tag(
          :date,
          options_for_select(
          @dates.collect{ |d| [ to_journal_date(d), d ] },
          disabled: @journal_entry_dates,
          selected: @available_dates.first
          ),
          class: "form-control mb-2 col-lg-5"
          )
          %>
          <%= submit_tag("New journal entry", class: "btn btn-primary") %>
          <% end %>
        </div>
      </div>

      <% if @journal_entries.present? %>
        <div class="mt-4">
          <h2 class="h5">Your last 10 entries</h2>
          <table class="table">
            <tr>
              <th>Date</th>
            </tr>
            <% @journal_entries.newest.limit(10).each do |entry| %>
            <tr>
              <td class="existing_journal_entry"><%= link_to(to_journal_date(entry.date), entry) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </main>
  </div>
</div>
