<div class="container-fluid">
  <div class="row">
    <%= render "dashboard/sidebar_nav" %>

    <div class="col">
      <h2><%= to_journal_date(@journal_entry.date) %></h2>

      <table class="table">
        <tr>
          <th>Statement</th>
          <th>Score</th>
        </tr>

        <% @journal_entry.journal_ratings.each do |rating| %>
        <tr>
          <td><%= JournalStatement.find_by(id: rating.journal_statement_id).name %></td>
          <td><%= rating.score %></td>
        </tr>
        <% end %>
      </table>

      <a class="btn btn-primary" href="<%= edit_journal_entry_path %>">Edit journal entry</a>
    </div>
  </div>
</div>
