<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'sidebar_nav' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Admin</h1>
      </div>
      <div>
        <div class="admin-panel">
          <div class="experiments">
            <div class="row mb-1">
              <div class="col-md-6">
                <h4>Experiments</h4>
              </div>
              <div class="col-md-6 text-right">
                <a class="btn btn-secondary" href="<%= new_experiment_path %>"><i class="fas fa-plus"></i>New experiment</a>
              </div>
            </div>
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
              <% @experiments.each do |experiment| %>
              <tr>
                <td><%= experiment.name %></td>
                <td><%= experiment.category.name %></td>
                <td>
                  <span><%= link_to "Show", experiment_path(id: experiment.slug, category: experiment.category) %></span>
                  <span><%= link_to "Edit", edit_experiment_path(id: experiment.slug, category: experiment.category) %></span>
                  <span><%= link_to "Destroy", experiment_path(id: experiment.slug, category: experiment.category), method: :delete, data: { confirm: "Are you sure?" } %></span>
                </td>
              </tr>
              <% end %>
            </table>
          </div>

          <div class="categories">
            <div class="row mb-1">
              <div class="col-md-6">
                <h4>Categories</h4>
              </div>
              <div class="col-md-6 text-right">
                <a class="btn btn-secondary" href="<%= new_category_path %>"><i class="fas fa-plus"></i>New category</a>
              </div>
            </div>

            <table class="table">
              <tr>
                <th>Category</th>
                <th>Actions</th>
              </tr>
              <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td>
                  <span><%= link_to "Show", category_show_path(category) %></span>
                  <span><%= link_to "Edit", edit_category_path(category) %></span>
                  <span><%= link_to "Destroy", category_path(category), method: :delete, data: { confirm: "Are you sure?" } %></span>
                </td>
              </tr>
              <% end %>
            </table>
          </div>

          <div class="row mb-1">
            <div class="col-md-6">
              <h4>Benefits</h4>
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-secondary" href="<%= new_benefit_path %>"><i class="fas fa-plus"></i>New benefit</a>
            </div>
          </div>

          <table class="table">
            <tr>
              <th>Benefit name</th>
              <th>Statement for measurement</th>
              <th>Actions</th>
            </tr>
            <% @benefits.each do |benefit| %>
            <tr>
              <td><%= benefit.name %></td>
              <td><%= benefit.measurement_statement %></td>
              <td>
                <span><%= link_to "Edit", edit_benefit_path(benefit) %></span>
                <span><%= link_to "Destroy", benefit_path(benefit), method: :delete, data: { confirm: "Are you sure?" } %></span>
              </td>
            </tr>
            <% end %>
          </table>

          <h4>Users</h4>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
