<div class="container-fluid">
  <div class="row">
    <%= render 'sidebar_nav' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Your experiments</h1>
      </div>

      <div class="row current_experiment">
        <div>
          <h3>Your current experiment</h3>
          <% if @active_experiment.present? && @active_experiment_user&.ending_date > DateTime.current %>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Started on</th>
              <th>Ending on</th>
              <th>Actions</th>
            </tr>
            <tr>
              <td><%= @active_experiment.name %></td>
              <td class="starting_date"><%= @active_experiment_user.starting_date %></td>
              <td class="ending_date"><%= @active_experiment_user.ending_date %></td>
              <td>
                <span><%= link_to "View details", experiment_path(id: @active_experiment.slug, category: @active_experiment.category) %></span>
              </td>
              <td>
                <span>
                  <%= link_to "Stop this experiment",
                  edit_experiment_user_path(
                  id: ExperimentUser.find_by(experiment_id: @active_experiment.id, user_id: current_user.id).id,
                  experiment_id: @active_experiment.id,
                  status: "cancelled"),
                  class: "btn btn-danger" %>
                </span>
              </td>
            </tr>
          </table>
          <% elsif @active_experiment.present? && @active_experiment_user&.ending_date < DateTime.current %>
            <%= render "evaluate_experiment", active_experiment: @active_experiment %>
          <% else %>
          <div>
            You're not doing an experiment at the moment. Want to start one?
            <div>
              <%= link_to "Choose experiment", categories_path, class: "btn btn-primary" %>
            </div>
          </div>

          <% end %>
        </div>
      </div>

      <% if @cancelled_experiments.present? %>
      <div class="row cancelled_experiments">
        <h3>Your cancelled experiments</h3>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Started on</th>
            <th>Ended on</th>
            <th>Actions</th>
            <th>Notes</th>
          </tr>
          <% @cancelled_experiments.each do |experiment| %>
          <tr>
            <td><%= experiment.name %></td>
            <td class="starting_date"><%= ExperimentUser.find_by(user: @user, experiment: experiment).starting_date %></td>
            <td class="ending_date"><%= ExperimentUser.find_by(user: @user, experiment: experiment).ending_date %></td>
            <td><%= link_to "Retry this experiment",
              edit_experiment_user_path(
              id: ExperimentUser.find_by(experiment_id: experiment.id, user_id: current_user.id)&.id,
              experiment_id: experiment.id,
              status: "active"),
              class: already_doing_an_experiment ? "btn btn-success disabled" : "btn btn-success" %></td>
            <% end %>
            <% if already_doing_an_experiment %>
            <td>You can run only one experiment at a time. If you want to retry a cancelled experiment, first cancel your current experiment.</td>
            <% end %>
          </tr>
        </table>
      </div>
      <% end %>

      <% if @completed_experiments.present? %>
      <div class="row completed_experiments">
        <h3>Your completed experiments</h3>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Started on</th>
            <th>Ended on</th>
          </tr>
          <% @completed_experiments.each do |experiment| %>
          <tr>
            <td><%= experiment.name %></td>
            <td class="starting_date"><%= ExperimentUser.find_by(user: @user, experiment: experiment).starting_date %></td>
            <td class="ending_date"><%= ExperimentUser.find_by(user: @user, experiment: experiment).ending_date %></td>
          <% end %>
          </tr>
        </table>
      </div>
      <% end %>
    </main>
  </div>
</div>
