<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'sidebar_nav' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-intense">Your experiments</h1>
      </div>

      <div class="row mb-4">
        <div class="current_experiment col-12">
          <h3 class="text-intense">Your current experiment</h3>
          <% if uncompleted_active_experiment? %>
            <div class="card mb-3 experiment-banner" style="max-width:35rem">
              <div class="row no-gutters">
                <div class="col-xs-12 col-sm-3">
                  <img class="card-img" src="<%= rails_blob_url(@active_experiment.image) if @active_experiment.image.attached? %>">
                </div>
                <div class="col-sm-9">
                  <div class="card-body current-experiment-preview">
                    <div class="characteristics">
                      <h6 class="card-title mb-0"><strong><%= @active_experiment.name %></strong></h6>
                      <span class="starting_date">From <%= (@active_experiment_user.starting_date.in_time_zone(current_user.time_zone)).to_s(:journal_date_with_year) %></span>
                      <span class="ending_date">to <%= (@active_experiment_user.ending_date.in_time_zone(current_user.time_zone)).to_s(:journal_date_with_year) %></span>
                    </div>
                    <div class="actions mt-1">
                      <span>
                        <%= link_to "Details",
                        experiment_path(id: @active_experiment.slug, category: @active_experiment.category),
                        class: "btn btn-primary mr-1" %>
                      </span>
                      <span>
                        <%= link_to "Stop experiment",
                        edit_experiment_user_path(
                        id: experiment_user(@active_experiment).id,
                        experiment_id: @active_experiment.id),
                        class: "btn btn-secondary" %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% elsif completed_active_experiment? %>
            <div class="row">
              <div class="col-md-6">
                <%= render "evaluate_experiment", active_experiment: @active_experiment %>
              </div>
            </div>
          <% else %>
            <div>
              You're not doing an experiment at the moment. Want to start one?
              <div>
                <%= link_to "Choose experiment", categories_path, class: "btn btn-primary mt-2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if @cancelled_experiments.present? %>
      <div class="row mb-4">
        <div class="cancelled_experiments col-12">
          <h3 class="text-intense">Your cancelled experiments</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Started on</th>
                <th scope="col">Cancelled on</th>
                <th scope="col">Cancellation reason</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @cancelled_experiments.each do |experiment| %>
                <tr>
                  <td><%= experiment.category.name %></td>
                  <td><%= experiment.name %></td>
                  <td class="starting_date"><%= (experiment_user(experiment).starting_date.in_time_zone(current_user.time_zone)).to_s(:journal_date_with_year) %></td>
                  <td class="ending_date"><%= (experiment_user(experiment).ending_date.in_time_zone(current_user.time_zone)).to_s(:journal_date_with_year) %></td>
                  <td class="cancellation_reason"><%= ExperimentUser::CANCELLATION_REASONS[experiment_user(experiment).cancellation_reason] %></td>
                  <td><%= link_to "Retry this experiment",
                    edit_experiment_user_path(
                    id: experiment_user(experiment)&.id,
                    experiment_id: experiment.id),
                    class: already_doing_an_experiment ? "btn btn-primary disabled" : "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
            <% if @cancelled_experiments.present? && already_doing_an_experiment %>
              <span class="text-brand"><em>* You can run only one experiment at a time. If you want to retry a cancelled experiment, first cancel your current experiment.</em></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @completed_experiments.present? %>
        <div class="row">
          <div class="completed_experiments col-12">
            <h3 class="text-intense">Your completed experiments</h3>
            <table class="table">
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Started on</th>
                <th>Ended on</th>
                <th>Life impact</th>
                <th>Actions</th>
              </tr>
              <% @completed_experiments.each do |experiment| %>
              <tr>
                <td><%= experiment.category.name %></td>
                <td><%= experiment.name %></td>
                <td class="starting_date"><%= (experiment_user(experiment).starting_date.in_time_zone(current_user.time_zone)).to_s(:journal_date_with_year) %></td>
                <td class="ending_date"><%= (experiment_user(experiment).ending_date.in_time_zone(current_user.time_zone)).to_s(:journal_date_with_year) %></td>
                <td><%= ExperimentUser::LIFE_IMPACT_OPTIONS[experiment_user(experiment).life_impact] %></td>
                <td><%= link_to "View your measurements",
                  experiment_user_path(
                  id: experiment_user(experiment)&.id,
                  experiment_id: experiment.id),
                  class: "btn btn-secondary view_measurements" %>
                </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
    </main>
  </div>
</div>
