<div class="container-fluid">
  <div class="row">
    <%= render 'sidebar_nav' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="row">
        <div class="col-sm-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-book"></i>How are you feeling today, <%= @user.first_name %>?</h5>
              <p class="card-text">Rate your day in your journal (also when you're not doing an experiment at the moment)</p>
              <a href="<%= journal_entries_path %>" class="btn btn-primary">Go to journal</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-chart-line"></i>See your progress</h5>
              <p class="card-text">Track how you've been feeling over time.</p>
              <a href="<%= dashboard_progress_path %>" class="btn btn-primary">Check out your graphs</a>
            </div>
          </div>
        </div>
        <% if @user.experiment_users.active %>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Your current experiment</h5>
                <p class="card-text">You're doing the experiment "<%= @active_experiment_for_user.name %>"</p>
                <a href="<%= experiment_path(id: @active_experiment_for_user.slug, category: @active_experiment_for_user.category) %>" class="btn btn-primary">Experiment details</a>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-plus"></i>Start a new experiment</h5>
                <p class="card-text">View available experiments and pick your favorite.</p>
                <a href="<%= categories_path %>" class="btn btn-primary">Find your new experiment</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>
