<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'dashboard/sidebar_nav' %>

    <main role="main" class="col-md-9 col-lg-10 ml-sm-auto px-0 bg-light overflow-hidden">
      <section>
        <div class="jumbotron rounded-0 bg-brand text-white dashboard-header">
          <div class="px-2 px-sm-4">
            <h1 class="jumbotron-heading text-intense"><i class="fas fa-chart-line"></i>Charts</h1>
            <p class="lead">Your observations. In charts!</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row px-sm-4 dashboard-detail">
          <div class="col-12 mb-4">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">Chart filters</h5>
              </div>
              <div class="row card-body pb-sm-0">
                <div class="col-12 mb-4" id="data_filters">
                  <%= form_tag api_progress_data_path(), remote: true, class: "row" do %>
                    <div class="col-sm-3 mt-1 mt-sm-0">
                      <label for="start_date"><strong>Start date</strong></label>
                      <div class="input-group">
                        <input type="text" class="actual_range form-control datepicker start" id="start_date" name="start_date">
                      </div>
                    </div>

                    <div class="col-sm-3 mt-1 mt-sm-0">
                      <label for="end_date"><strong>End date</strong></label>
                      <div class="input-group">
                        <input type="text" class="actual_range form-control datepicker end" id="end_date" name="end_date">
                      </div>
                    </div>

                    <div class="col-sm-4 mt-1 mt-sm-0">
                      <label for="categories"><strong>Categories</strong></label>

                      <div class="">
                        <div class="d-flex">
                          <label for="mood" class="custom-checkbox">Mood
                            <input type="checkbox" id="mood" name="categories[]" value="mood" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                          <label for="sleep" class="custom-checkbox">Sleep
                            <input type="checkbox" id="sleep" name="categories[]" value="sleep" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                          <label for="health" class="custom-checkbox">Health
                            <input type="checkbox" id="health" name="categories[]" value="health" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                        <div class="d-flex">
                          <label for="relax" class="custom-checkbox">Relax
                            <input type="checkbox" id="relax" name="categories[]" value="relax" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                          <label for="connect" class="custom-checkbox">Connect
                            <input type="checkbox" id="connect" name="categories[]" value="connect" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                          <label for="meaning" class="custom-checkbox">Meaning
                            <input type="checkbox" id="meaning" name="categories[]" value="meaning" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <%= submit_tag 'Show', class: 'btn btn-primary' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">Chart: How you've been feeling by day</h5>
              </div>
              <div class="row card-body pb-sm-0">
                <div class="col-12 mb-4">
                  <%= render "graph" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">Details of your observations in this time frame</h5>
              </div>
              <div class="row card-body pb-sm-0">
                <div class="col-12 mb-4">
                  <%= render "selected_journal_entries" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

<script data-turbolinks-track>
  $ ( function() {
    var start = $('#data_filters .start').datepicker(
      {
        dateFormat: 'dd-mm-yy'
      }
    )

    start.datepicker("setDate", "-21d");
    start.focus(function() {
      $(this).prop("autocomplete", "off");
      //              return false;
    });

    var end = $('#data_filters .end').datepicker(
      {
        dateFormat: 'dd-mm-yy'
      }
    )

    end.datepicker("setDate", "+0d");
    end.focus(function() {
      $(this).prop("autocomplete", "off");
      //              return false;
    });

    $(".categories").select()
  });
</script>
