<%= simple_form_for @experiment_user do |f| %>
  <%= f.hidden_field :experiment_id, value: @experiment.id %>

  <% if activating_experiment %>
    <div>
      <span>For the upcoming 3 weeks, you'll be trying out the experiment
        <strong><span class="text-brand"><%= @experiment.name %></span></strong>.
      </span>
      <h5 class="mt-4 text-intense">Objective</h5>
      <p>
        <i class="fas fa-trophy"></i>
        <span><%= @experiment.objective %></span>
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="mt-2 text-intense">Starting date</h5>
        <span>When would you like to start the experiment?</span>
        <%= f.input :starting_date,
        as: :select,
        collection: [["Today", DateTime.current], ["Tomorrow", (DateTime.current + 1).beginning_of_day]],
        selected: "Today",
        label: false,
        input_html: { class: "col-md-3 mt-2" } %>
      </div>
      <div class="col-12">
        <h5 class="mt-2 text-intense">Your starting measurement</h5>
        <div class="mb-4">
          <span>
            Recall your last 3 weeks. How did you feel?<br>
            Rate the statements below from 1 (<span class="text-error">completely disagree</span>) to 5 (<span class="text-success">completely agree</span>).
          </span>
        </div>
        <%= f.simple_fields_for :experiment_user_measurements do |experiment_user_measurement| %>
          <%= experiment_user_measurement.hidden_field :id %>
          <%= experiment_user_measurement.hidden_field :benefit_id %>
          <%= experiment_user_measurement.object.benefit.measurement_statement %>
          <abbr title="required">*</abbr>
          <%= experiment_user_measurement.input :starting_score, required: true, label: false, collection: 1..5, as: :radio_buttons, wrapper: :horizontal_collection_inline %>
        <% end %>
      </div>
    </div>

  <% elsif cancelling_experiment %>
    <div>
      <span>You're cancelling the experiment. You can retry it later if you want to, starting from day 1 again.</span>
    </div>
    <div class="row">
      <div class="col-md-5">
        <span>Why are you cancelling the experiment?</span>
        <%= f.input :cancellation_reason,
        as: :select,
        collection: ExperimentUser.cancellation_reasons.keys,
        label: false
        %>
      </div>
    </div>

  <% elsif completing_experiment %>
    <div>
      <span>YAY! You completed the experiment "<strong><%= @experiment.name %>".</strong></span>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h4>Your ending measurement</h4>
        <em>Rate the following statements about your last 3 weeks from 1 (low) to 5 (high)</em><br><br>
        <%= f.simple_fields_for :experiment_user_measurements do |experiment_user_measurement| %>
          <%= experiment_user_measurement.hidden_field :id %>
          <%= experiment_user_measurement.hidden_field :benefit_id %>
          <%= experiment_user_measurement.object.benefit.measurement_statement %>
          <abbr title="required">*</abbr>
          <%= experiment_user_measurement.input :ending_score, required: true, label: false, collection: 1..5, as: :radio_buttons, wrapper: :horizontal_collection_inline %>
        <% end %>

        <div>
          <span>How would you rate the difficulty of this experiment to you?</span>
          <abbr title="required">*</abbr>
          <%= f.input :difficulty,
          as: :select,
          collection: ExperimentUser.difficulty_rates.keys,
          label: false %>

          <span>Will you continue this new behaviour now that the experiment is over?</span>
          <abbr title="required">*</abbr>
          <%= f.input :experiment_continuation,
          as: :select,
          collection: ExperimentUser.continuation_options.keys,
          label: false %>
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit "#{start_or_cancel_experiment} this experiment", class: "btn btn-primary" %>
  </div>
<% end %>
