<% content_for :meta_title, "Experiment report - Experiment.rocks" %>

<main class="container-fluid dashboard">
  <div class="row h-100">
    <%= render 'dashboard/sidebar_nav' %>

    <div class="col-md-9 col-lg-10 ml-sm-auto px-0 bg-light overflow-hidden">
      <div class="row px-sm-4 mt-4 dashboard-detail">
        <div class="col-12 mb-sm-4">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Experiment report for
                <span class="text-intense text-<%= @experiment.category.name.downcase %>"><%= @experiment.name %></span></h5>
            </div>
            <div class="row card-body pb-sm-0">
              <div class="col-12 col-sm-4 col-lg-3 mb-2">
                <img class="card-img" src="<%= url_for(@experiment.image) if @experiment.image.attached? %>">
              </div>

              <div class="col-12 col-sm-8 col-lg-9 order-sm-first">
                <span class="h5">Experiment details</span>
                <p>
                  <span class="text-intense">Time frame:</span><br>
                  From <%= @experiment_user.starting_date.to_s(:journal_date_with_year) %>
                  to <%= @experiment_user.ending_date.to_s(:journal_date_with_year) %>
                </p>
                <p>
                  <span class="text-intense">Objective:</span><br>
                  <i class="fas fa-trophy"></i> <%= @experiment.objective %>
                </p>
              </div>

              <div class="col-12 mb-4">
                <span class="h5">Experiment results</span>
                <div class="mt-2">
                  <%= render "dashboard/experiment_users/completed_average_observation_scores", experiment_user: @experiment_user %>
                </div>
                <div class="card-body border rounded mt-2">
                  <div class="row">
                    <div class="col-12 mb-4">
                      <span class="">Did you experience the experiment benefits? Comparison between the start versus the end of the experiment.
                    </div>
                    <div class="col-12 table-responsive">
                      <table class="table mb-0">
                        <thead>
                          <tr class="d-flex">
                            <th class="col-6 col-lg-4">Experiment benefits (hypothesis)</th>
                            <th class="col-3 col-sm-2 col-xl-1">Starting score</th>
                            <th class="col-3 col-sm-2 col-xl-1">Ending score</th>
                            <th class="col-8 col-lg-4">Statement</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @experiment_user.experiment_user_measurements.each do |measurement| %>
                          <tr class="d-flex">
                            <td class="col-6 col-lg-4"><span class="btn btn-<%= @experiment.category.name.downcase %>"><%= Benefit.find(measurement.benefit_id).name %></span></td>
                            <td class="col-3 col-sm-2 col-xl-1 text-intense"><%= measurement.starting_score %></td>
                            <td class="col-3 col-sm-2 col-xl-1 text-intense"><%= measurement.ending_score %></td>
                            <td class="col-8 col-lg-4"><%= Benefit.find(measurement.benefit_id).measurement_statement %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card-body border rounded mt-2">
                  <div class="mt-2">
                    <span class="text-intense">Your experiment note</span> <br>
                    <% if @experiment_user.ending_note.present? %>
                    <span class=""><%= sanitize(@experiment_user.ending_note) %></span>
                    <% else %>
                    <span class="">-</span>
                    <% end %>
                  </div>

                  <div class="mt-2">
                    <span class="text-intense">Life impact</span> <br>
                    <span class=""><%= ExperimentUser::LIFE_IMPACT_OPTIONS[@experiment_user.life_impact] %></span>
                  </div>

                  <div class="mt-2">
                    <span class="text-intense">Difficulty</span> <br>
                    <span class=""><%= ExperimentUser::DIFFICULTY_RATES[@experiment_user.difficulty] %></span>
                  </div>

                  <div class="mt-2">
                    <span class="text-intense">Your message to others</span> <br>
                    <% if @experiment_user.recommendation.present? %>
                    <span class=""><%= sanitize(@experiment_user.recommendation) %></span>
                    <% else %>
                    <span class="">-</span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
