<main class="focus-form">
  <div class="container">
    <div class="row">
      <div class="col form">
        <h1 class="h2 text-intense">Measurements of your completed experiment '<%= @experiment.name %>'</h1>

        <div class="table-responsive mt-4">
          <table class="table">
            <thead>
              <tr class="d-flex">
                <th class="col-4">Statement</th>
                <th class="col-3 col-lg-1">Starting score</th>
                <th class="col-3 col-lg-1">Ending score</th>
              </tr>
            </thead>

            <tbody>
              <% @experiment_user.experiment_user_measurements.each do |measurement| %>
                <tr class="d-flex">
                  <td class="col-4"><%= Benefit.find(measurement.benefit_id).measurement_statement %></td>
                  <td class="col-3 col-lg-1 text-intense text-brand"><%= measurement.starting_score %></td>
                  <td class="col-3 col-lg-1 text-intense text-brand"><%= measurement.ending_score %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-8">
              <div class="mt-2">
                You rated the difficulty level of this experiment to be<br>
                <span class="text-intense text-brand"><%= ExperimentUser::DIFFICULTY_RATES[@experiment_user.difficulty] %></span>
              </div>

              <div class="mt-2">
                You rated the impact of this experiment on your life to be <br>
                <span class="text-intense text-brand"><%= ExperimentUser::LIFE_IMPACT_OPTIONS[@experiment_user.life_impact] %></span>
              </div>

              <div class="mt-2">
                Your other notes/observations <br>
                <% if @experiment_user.ending_note.present? %>
                <span class="text-intense"><%= sanitize(@experiment_user.ending_note) %></span>
                <% else %>
                <span class="text-intense">-</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
