<% content_for :meta_title, "Observations - Experiment.rocks" %>

<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'dashboard/sidebar_nav' %>

    <main role="main" class="col-md-9 col-lg-10 ml-sm-auto px-0 bg-light overflow-hidden">
      <section>
        <div class="jumbotron rounded-0 bg-brand text-white dashboard-header">
          <div class="px-2 px-sm-4">
            <h1 class="jumbotron-heading text-intense"><i class="fas fa-eye"></i>Observations</h1>
            <p class="lead">Add observations on how you're feeling, so that you can better analyze the impact the experiment has on your life.</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row px-sm-4 dashboard-detail">
          <div class="col-lg-8 mb-4">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">Create a new observation</h5>
              </div>
              <div class="row card-body pb-sm-0">
                <div class="col-12 mb-4">
                  Add your daily observation.
                  <div class="mt-2">
                    <%= form_tag(new_observation_path, method: :get) do |observation_date| %>
                    <strong><%= label_tag(:date, "Date") %></strong>
                    <%= select_tag(
                    :date,
                    options_for_select(
                    @dates.collect{ |d| [ d.to_s(:journal_date_with_year), d ] },
                    disabled: @observation_dates,
                    selected: @available_dates.first
                    ),
                    class: "form-control mb-2 col-lg-5"
                    )
                    %>
                    <%= submit_tag("New observation", class: "btn btn-primary") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">Observation streak</h5>
              </div>
              <div class="row card-body pb-sm-0">
                <div class="col-12 mb-4">
                  You've added observations for<br>
                  <span class="text-intense text-health h1"><%= calculate_streak %></span><br>
                  days in a row
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-8 mb-4">
            <div class="card past_observations">
              <div class="card-header">
                <h5 class="mb-0">Observations made this week</h5>
              </div>
              <div class="row card-body pb-sm-0">
                <div class="col-12 col-sm-7">
                  <div class="row">
                    <% @dates.each do |date| %>
                    <div class="col-6 col-sm-6 mb-2">
                      <%= date.to_s(:journal_date) %><br>
                    </div>

                    <div class="col-4 col-sm-4 mb-2 pr-0 date-<%= date.to_date %>">
                      <% if @observation_dates.include?(date) %>
                        <i class="fas fa-check text-health"></i>
                        <%= link_to edit_observation_path(observation_for_date(date)), class: "edit_observation" do %>
                          <i class="fas fa-pencil-alt"></i>
                        <% end %>
                        <% else %>
                        <i class="fas fa-times text-connect"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="col-12 mb-0 mb-sm-4">
                  <u><%= link_to "See charts based on these observations >", dashboard_charts_path %></u>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
