<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'sidebar_nav' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Settings</h1>
      </div>
      <div class="col-md-5">
        <h5><i class="fas fa-pen"></i>Update settings</h5>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form_group pb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form_group pb-2">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form_group pb-2">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form_group pb-2">
            <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <div class="form_group mt-3">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>

        <div class="mt-4">
          <h5><i class="fas fa-user-slash"></i>Cancel my account</h5>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-secondary", data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
      </div>
    </main>
  </div>
</div>
