<tr>
  <td class="innerpadding">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="bodycopy h3">
          Hi <%= @user.first_name %>,
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          Awesome to see you’re doing something new to improve your life!<br><br>
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          For the next 21 days, you’re trying out the experiment ‘<%= @experiment.name %>’.<br>
          Objective: <strong><%= @experiment.objective %></strong><br>
          You’ll find all the details you need in your <%= link_to 'personal lab', dashboard_lab_url, class: "inline-link" %>.<br><br>
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          <% if @experiment.implementation_intention.present? %>
          When implementing something new into your life, it is very common to want to give up and fall back into old behaviour.
          To prevent that from happening to you, fill in this statement right now:<br><br>

          <em><%= @experiment.implementation_intention %></em><br><br>

          Really do this small exercise. It’s a powerful way to set yourself up for a successful experiment!<br><br>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="bodycopy h3">
          Measuring your experiment success
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          Now, how will you determine whether this experiment works for you?
          You can mentally keep track of how you’re feeling, but do keep in mind that in 3 weeks it will
          be difficult to remember how you were feeling right now. To get a more accurate picture of how this experiment
          influences your life, you can fill in your daily observations.
        </td>
      </tr>
    </table>
    <table class="col380" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 380px;">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td style="padding: 20px 0 0 0;">
                <table class="buttonwrapper" bgcolor="#866ec7" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;">
                  <tr>
                    <td class="button-primary" height="36">
                      <%= link_to 'Add observation', observations_url %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="bodycopy" style="padding: 20px 0 10px 0;">
          If you have any questions, feel free to respond to this email.<br>
          I’m very excited to be doing life experiments together!<br><br>

          Love,<br>
          Marlies
        </td>
      </tr>

    </table>
  </td>
</tr>
