<div class="card-body pb-0 bg-light mb-2 border border-light">
    <h4 class="h6 text-intense"><%= blog_comment.author_name %></h4>
    <span class=""><em><%= blog_comment.created_at.to_s(:date_with_time) %></em></span>
    <p class="comment"><%= blog_comment.comment %></p>

  <%= render partial: 'blog_comments/comment_on_comment', collection: blog_comment.blog_comments.oldest_first, as: "reply" %>

  <div class="new_comment_on_comment">
    <p class="btn"><u>Reply</u></p>

    <div class="d-none reveal_reply_section pl-4 mb-4">
      <div class="mt-4">
        <h3 class="text-intense h4">Reply to <%= blog_comment.author_name %></h3>
        <%= render template: "blog_comments/new", locals: { commentable: blog_comment } %>
      </div>
    </div>
  </div>
</div>
