<% content_for :meta_title, @blog_post.meta_title || @blog_post.name %>
<% content_for :meta_description, @blog_post.meta_description || @blog_post.summary %>

<main role="main" class="bg-meaning">
  <section class="container my-4 px-0 overflow-hidden">
    <div class="row">
      <div class="col-12 col-lg-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 bg-light flex-nowrap">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Blog", blog_posts_path %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @blog_post.name %></li>
          </ol>
        </nav>
        <div class="card">
          <div class="card-body blog-content">
            <h1 class="text-intense"><%= @blog_post.name %></h1>
            <p><em><%= visible_date(@blog_post) %></em></p>
            <img class="card-img pb-4" src="<%= url_for(@blog_post.image) if @blog_post.image.attached? %>">
            <div class="blog-text">
              <%= simple_format(sanitize(transform_blog_input(@blog_post.description), attributes: ["href", "target", "class", "src", "alt"], tags: ["h1", "h2", "h3", "h4", "h5", "h6", "strong", "em", "a", 'img', "figcaption"]), {}, sanitize: false) %>
            </div>
            <div id="comment_section_anchor"></div>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <div class="existing_comments">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-7">
                  <h2 class="text-intense text-brand pb-2 h2"><%= number_of_comments %> Comments</h2>
                </div>
                <div class="col-12 col-sm-6 col-lg-5">
                  <% if flash[:comment_notice] %>
                    <span class="alert alert-success position-relative d-block m-0 mb-2"><i class="fas fa-check-circle text-health"></i><%= flash[:comment_notice] %></span>
                  <% elsif flash[:comment_errors] %>
                    <span class="alert alert-danger position-relative d-block m-0 mb-2"><i class="fas fa-angle-right"><%= flash[:comment_errors] %></i></span>
                  <% end %>
                </div>
              </div>
              <%= render partial: "blog_comments", collection: @blog_post.blog_comments.reverse, as: "blog_comment"  %>
            </div>

            <div class="mt-4">
              <h3 class="text-intense h4">Add a comment</h3>
              <%= render template: "blog_comments/new", locals: { commentable: @blog_post } %>
            </div>

          </div>
        </div>
      </div>
      <%= render "about" %>
    </div>
  </section>
</main>

<script>
  $('.new_comment_on_comment').click(function() {
    $(".reveal_reply_section", this).removeClass('d-none');
  });

  $('.blog-text img').parent().addClass("text-center")
</script>
