<% content_for :meta_title, "#{@blog_post.name} #{DEFAULT_META["meta_website"]}" %>
<% content_for :meta_description, @blog_post.summary %>

<main role="main" class="bg-meaning">
  <section class="container my-4 px-0 overflow-hidden">
    <div class="row">
      <div class="col-12 col-lg-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 bg-light">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Blog", blog_posts_path %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @blog_post.name %></li>
          </ol>
        </nav>
        <div class="card">
          <div class="card-body">
            <h1 class="text-intense"><%= @blog_post.name %></h1>
            <p><em><%= @blog_post.created_at.strftime("%e %b %Y") %></em></p>
            <img class="card-img pb-4" src="<%= rails_blob_url(@blog_post.image) if @blog_post.image.attached? %>">
            <%= simple_format(sanitize(@blog_post.description, attributes: ["href", "target", "class"]), {}, sanitize: false) %>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <div class="existing_comments">
              <h2 class="text-intense text-brand pb-2"><%= number_of_comments %> Comments</h2>
              <%= render partial: "blog_comments", collection: @blog_post.blog_comments.reverse, as: "blog_comment"  %>
            </div>

            <div class="mt-4">
              <h3 class="text-intense h4">Add a comment</h3>
              <%= render template: "blog_comments/new", locals: { commentable: @blog_post } %>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-4 mt-lg-0">
        <div class="card">
          <div class="card-body">
            <h3 class="text-intense">ABOUT</h3>
            Here's some content for the about section
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  $('.new_comment_on_comment').click(function() {
    $(".reveal_reply_section", this).removeClass('d-none');
  });
</script>
