<% content_for :meta_title, "Experiment.rocks - your Happiness Lab" %>
<% content_for :meta_description, "Discover your happiest life - one experiment at a time! Track how you're feeling and try life experiments to find out what makes YOU happy." %>

<main role="main" class="bg-white">
  <section class="jumbotron-home text-center home-image d-block d-sm-none" style="background: url(<%= url_for(Image.find_by(name: "homepage_mobile")&.image) if Image.find_by(name: "homepage_mobile")&.image&.attached? %>); background-size: cover; height:30rem;">
    <div class="container">
      <h1 class="jumbotron-heading text-intense">Experiment.rocks</h1>
      <p class="lead text-muted">Discover your happiest life - one experiment at a time</p>
      <p>
        <a href="<%= categories_path %>" class="btn btn-primary my-2">View experiments</a>
        <% unless current_user.present? %>
          <a href="<%= new_user_registration_path %>" class="btn btn-secondary my-2">Register</a>
        <% end %>
      </p>
    </div>
  </section>

  <section class="jumbotron-home text-left home-image d-none d-sm-block" style="background: url(<%= url_for(Image.find_by(name: "homepage_desktop")&.image) if Image.find_by(name: "homepage_desktop")&.image&.attached? %>); background-size: cover">
    <div class="container">
      <h1 class="jumbotron-heading text-intense">Experiment.rocks</h1>
      <p class="lead text-muted">Discover your happiest life - one experiment at a time</p>
      <p>
        <a href="<%= categories_path %>" class="btn btn-primary my-2">View experiments</a>
        <% unless current_user.present? %>
          <a href="<%= new_user_registration_path %>" class="btn btn-secondary my-2">Register</a>
        <% end %>
      </p>
    </div>
  </section>

  <section class="bg-light">
    <div class="card-body border rounded">
      <div class="row">
        <div class="col-6 col-sm-4 col-lg-2 text-center mb-4 mb-lg-0">
          <i class="fas fa-grin-beam text-brand pr-0 h5"></i><br>
          <span>Improve your </span><br>
          <span class="text-intense text-brand h5">mood</span>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 text-center mb-4 mb-lg-0">
          <i class="fas fa-moon text-sleep pr-0 h5"></i><br>
          <span>Get better</span><br>
          <span class="text-intense text-sleep h5">sleep</span><br>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 text-center mb-4 mb-lg-0 pt-2 pt-sm-0">
          <i class="fas fa-apple-alt text-health pr-0 h5"></i><br>
          <span>Feel more </span><br>
          <span class="text-intense text-health h5">healthy</span>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 text-center mb-4 mb-sm-0 pt-2 pt-md-0">
          <i class="fas fa-umbrella-beach text-relax pr-0 h5"></i><br>
          <span>De-stress and </span><br>
          <span class="text-intense text-relax h5">relax</span>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 text-center mb-0 mb-lg-0 pt-2 pt-md-0">
          <i class="fas fa-heart text-connect pr-0 h5"></i><br>
          <span>Deepen your </span><br>
          <span class="text-intense text-connect h5">relationships</span>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 text-center mb-0 mb-lg-0 pt-2 pt-md-0">
          <i class="fas fa-question-circle text-meaning pr-0 h5"></i><br>
          <span>Live a life filled with</span><br>
          <span class="text-intense text-meaning h5">meaning</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container px-0">
      <div class="row my-8">
        <div class="col-md-9">
          <div class="card bg-brand text-white">
            <div class="card-body">
              <h2 class="text-intense">A life experiment in 5 simple steps</h2>
              <div class="mt-4">
                <h2 class="text-intense h4 d-flex flex-row justify-content-between">
                  <span>
                    1. Hypothesis
                  </span>
                  <span>
                    <i class="fas fa-flask"></i>
                  </span>
                </h2>
                <p class="">
                  Each experiment has a list of benefits they can add to your life.<br>
                  Choose one that resonates with what you're looking for and evaluate where you're at right now.<br>

                  <a href="<%= categories_path %>" class="btn btn-secondary my-2">View experiments</a>
                </p>
              </div>

              <hr class="border-white">

              <div class="mt-4">
                <h2 class="text-intense h4 d-flex flex-row justify-content-between">
                  <span>
                    2. Observation
                  </span>
                  <span>
                    <i class="fas fa-eye"></i>
                  </span>
                </h2>
                <p class="">
                  Observe and track how you're actually feeling during the 21 days of the experiment.<br>
                </p>
              </div>

              <hr class="border-white">

              <div class="mt-4">
                <h2 class="text-intense h4 d-flex flex-row justify-content-between">
                  <span>
                    3. Analysis
                  </span>
                  <span>
                    <i class="fas fa-chart-line"></i>
                  </span>
                </h2>
                <p class="">Fill in the ending evaluation and analyze whether the experiment made the life impact you were looking for.</p>
              </div>

              <hr class="border-white">

              <div class="mt-4">
                <h2 class="text-intense h4 d-flex flex-row justify-content-between">
                  <span>
                    4. Expression
                  </span>
                  <span>
                    <i class="fas fa-comment-dots"></i>
                  </span>
                </h2>
                <p class="">Share how this experiment was for you and help others decide which experiment to try out next.</p>
              </div>

              <hr class="border-white">

              <div class="mt-4">
                <h2 class="text-intense h4 d-flex flex-row justify-content-between">
                  <span>
                    5. Celebration
                  </span>
                  <span>
                    <i class="fas fa-gift"></i>
                  </span>
                </h2>
                <p class="">Congratulations! You tried something new and found out whether it improved your life.<br>
                  Whenever you're ready, try out a new experiment! </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mt-4 mt-sm-0 mb-4 bg-light">
              <div class="card-body text-center">
                <h2 class="text-intense text-brand"><%= Experiment.all.count %></h2>
                <span>
                  life experiments to choose from<br>
                  (with new ones added weekly)
                </span>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body text-center">
                <h2 class="text-intense text-brand">21</h2>
                <span>
                  days to complete an experiment
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="bg-light">
    <div class="card-body about-section border rounded">
      <div class="row">
        <div class="col-12 col-sm-7 col-lg-9">
          <h3 class="text-intense">About</h3>
          <p>
            Hi! I’ve spent countless hours researching happiness and mindfulness and trying out what I learned.
          </p>
          <p>
            On this site, you'll find the experiments that made the most impact in my life, plus experiments that I'm excited to try out.
          </p>
          <p>
            Join in and start discovering your happiest life too!
          </p>
          <p>
            Love, Marlies
          </p>
          <u><a href="<%= about_path %>">Learn more ></a></u>
        </div>
        <div class="col-12 col-sm-5 col-lg-3 mt-4 mt-sm-0 mr-sm-0 text-center">
          <%= image_with_alt_tag("marlies_small") %>
        </div>
      </div>
    </div>
  </section>
</main>
