<%= form_with(model: experiment, local: true) do |form| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <%= form.fields_for :resources do |resource| %>
    <div class="field">
      <%= resource.label :name %>
      <%= resource.text_area :name %>
      <%= resource.label :source %>
      <%= resource.text_area :source %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :objective %>
    <%= form.text_area :objective %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
