<%= simple_form_for @experiment do |form| %>
  <% if experiment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

    <ul>
      <% experiment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form-control" %>
      </div>
    </div>

    <div class="col-md-12"
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", rows: 12 %>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :category %>
          <%= collection_select(:experiment, :category_id, Category.all, :id, :name) %>
        </div>
        <div class="form-group">
          <%= form.label :image %>
          <%= form.file_field :image, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :objective %>
          <%= form.text_area :objective, class:"form-control" %>
        </div>
      </div>
    </div>

    <h3>Resources</h3>
    <%= form.simple_fields_for :resources do |resource| %>
      <%= render "resource_fields", f: resource %>
    <% end %>

    <div class="form-group">
      <i class="fas fa-plus"></i><%= link_to_add_association "Add Resource", form, :resources %>
    </div>


    <h3>Benefits</h3>
    <div class="form-group">
      <div class="row">
        <div class="benefit_name col">
          <%= form.association :benefits, as: :check_boxes %>
        </div>
      </div>
    </div>


    <div class="actions">
      <%= form.submit "Save experiment", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
