<% content_for :meta_title, "#{@experiment.title} #{DEFAULT_META["meta_website"]}" %>
<% content_for :meta_description, @experiment.description_meta %>

<main class="experiment-detail bg-light">
  <section class="jumbotron text-center experiment-image" style="background: url(<%= url_for(@experiment.image) if @experiment.image.attached? %>); background-size: cover;">
  </section>

  <section class="container heading p-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 bg-light">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Categories", categories_path %></li>
        <li class="breadcrumb-item"><%= link_to "#{@experiment.category.name}", category_show_path(@experiment.category) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @experiment.name %></li>
      </ol>
    </nav>
    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header">
            <h1 class="text-intense text-<%= @experiment.category.name.downcase %>"><%= @experiment.name %></h1>
            <div>
              <h2 class="text-intense h5">Experiment objective</h2>
              <i class="fas fa-trophy"></i>
              <%= @experiment.objective %>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-md-8 experiment-content order-last order-md-first">
              <h2 class="text-intense h5">Description</h2>
              <%= simple_format(sanitize(@experiment.description, attributes: ["href", "target", "class"]), {}, sanitize: false) %>
            </div>
            <div class="col-md-4 order-first order-md-last">
              <div>
                <h3 class="text-intense h5">Experiment benefits</h3>
                <ul>
                  <% @experiment.benefits.each do |benefit| %>
                  <li class="btn btn-<%= @experiment.category.name.downcase %>"><%= benefit.name %></li>
                  <% end %>
                </ul>
              </div>

              <% if @experiment.resources.present? %>
                <div class="d-none d-md-block">
                  <h3 class="text-intense h5">More info</h3>
                  <ul>
                    <% @experiment.resources.each do |resource| %>
                    <li class="pl-0"><u><%= link_to "#{resource.name}", "#{resource.source}", target: "_blank" %></u></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>

          <div class="start_experiment text-center">
            <% if @existing_experiment_user.present? %>
              <%= link_to(
              "Retry this experiment",
              edit_experiment_user_path(experiment_id: params[:id]),
              class: already_doing_an_experiment || already_did_this_experiment(@experiment) ? "btn btn-primary disabled" : "btn btn-primary mb-4")
              %>
            <% else %>
              <%= link_to(
              "Start this experiment",
              new_experiment_user_path(experiment_id: params[:id]),
              class: already_doing_an_experiment || already_did_this_experiment(@experiment) ? "btn btn-primary disabled" : "btn btn-primary mb-4")
              %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <% if already_did_this_experiment(@experiment) %>
              <span><i class="fas fa-check pr-1"></i>
              You've already completed this experiment</span>
            <% elsif already_doing_this_experiment(@experiment) %>
              <span><i class="fas fa-clock pr-1"></i>
              You're currently doing this experiment</span>
            <% elsif already_doing_an_experiment %>
              <span><i class="fas fa-exclamation-circle pr-1"></i>
              You can run only one experiment at a time. If you want to cancel your current experiment,
              go to the <u><%= link_to("experiment overview page", dashboard_experiments_path) %></u>.</span>
            <% end %>
          </div>

          <% if @experiment.resources.present? %>
            <div class="col">
              <div class="d-md-none">
                <h3 class="text-intense h5">More info</h3>
                <ul>
                  <% @experiment.resources.each do |resource| %>
                  <li class="pl-0"><u><%= link_to "#{resource.name}", "#{resource.source}", target: "_blank" %></u></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
