<% content_for :meta_title, "#{@experiment.title} #{DEFAULT_META["meta_website"]}" %>
<% content_for :meta_description, @experiment.description_meta %>

<main class="experiment-detail bg-light">
  <section class="jumbotron text-center" style="background: url(<%= rails_blob_url(@experiment.image) if @experiment.image.attached? %>); background-size: cover;">
  </section>

  <section class="container heading">
    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header bg-white">
            <h1 class="text-intense text-<%= @experiment.category.name.downcase %>"><%= @experiment.name %></h1>
            <div>
              <span><u>Objective:</u></span><br>
              <i class="fas fa-trophy"></i>
              <%= @experiment.objective %>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-md-8 experiment-content">
              <p><%= simple_format(sanitize(@experiment.description, attributes: ["href", "target"]), {}, sanitize: false) %></p>
            </div>
            <div class="col-md-4">
              <h3>Benefits</h3>
              <ul>
                <% @experiment.benefits.each do |benefit| %>
                <li class="btn btn-<%= @experiment.category.name.downcase %>"><%= benefit.name %></li>
                <% end %>
              </ul>

              <% if @experiment.resources.present? %>
                <h3>More info</h3>
                <ul>
                  <% @experiment.resources.each do |resource| %>
                  <li><u><%= link_to "#{resource.name}", "#{resource.source}", target: "_blank" %></u></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>

          <div class="start_experiment text-center">
            <% if @existing_experiment_user.present? %>
              <%= link_to(
              "Retry this experiment",
              edit_experiment_user_path(experiment_id: params[:id]),
              class: already_doing_an_experiment || already_did_this_experiment(@experiment) ? "btn btn-primary disabled" : "btn btn-primary mb-4")
              %>
            <% else %>
              <%= link_to(
              "Start this experiment",
              new_experiment_user_path(experiment_id: params[:id]),
              class: already_doing_an_experiment || already_did_this_experiment(@experiment) ? "btn btn-primary disabled" : "btn btn-primary mb-4")
              %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <% if already_did_this_experiment(@experiment) %>
              <span><i class="fas fa-check pr-1"></i>
              You've already completed this experiment</span>
            <% elsif already_doing_this_experiment(@experiment) %>
              <span><i class="fas fa-clock pr-1"></i>
              You're currently doing this experiment</span>
            <% elsif already_doing_an_experiment %>
              <span><i class="fas fa-exclamation-circle pr-1"></i>
              You can run only one experiment at a time. If you want to cancel your current experiment,
              go to the <u><%= link_to("experiment overview page", dashboard_experiments_path) %></u>.</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
