<p id="notice"><%= notice %></p>

<main>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= @experiment.category.name %></h1>
      <p class="lead text-muted"><%= @experiment.name %></p>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p><%= @experiment.description %></p>
          <h3>Objective</h3>
          <p>
            <i class="fas fa-trophy"></i>
            <%= @experiment.objective %>
          </p>

          <h3>Benefits</h3>
          <ul>
            <% @experiment.benefits.each do |benefit| %>
            <li class="btn btn-info"><%= benefit.name %></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-4">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Want more info before you start?</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Check out these resources</h5>
              <p class="card-text">
                <ul>
                  <% @experiment.resources.each do |resource| %>
                  <li><i class="fas fa-info"></i><%= link_to "#{resource.name}", "#{resource.source}", target: "_blank" %></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="text-center">
      <a href="<%= new_experiment_user_path(experiment_id: params[:id]) %>" class="btn btn-success">Start this experiment</a>
    </div>
  </section>
</main>
