<main class="experiment-detail">
  <section class="jumbotron text-center" style="background: url(<%= rails_blob_url(@experiment.image) %>); background-size: cover;">
  </section>

  <section class="container heading">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-<%= @experiment.category.name.downcase %> text-<%= @experiment.category.name.downcase %>">
            <h1 class="text-intense"><%= @experiment.name %></h1>
            <div>
              <i class="fas fa-trophy"></i>
              <%= @experiment.objective %>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-md-8">
              <p><%= @experiment.description %></p>
            </div>
            <div class="col-md-4">
              <h3>Benefits</h3>
              <ul>
                <% @experiment.benefits.each do |benefit| %>
                <li class="btn btn-<%= @experiment.category.name.downcase %>"><%= benefit.name %></li>
                <% end %>
              </ul>

              <% if @experiment.resources.present? %>
                <h3>Resources</h3>
                <ul>
                  <% @experiment.resources.each do |resource| %>
                  <li><i class="fas fa-info"></i><%= link_to "#{resource.name}", "#{resource.source}", target: "_blank" %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>

          <div class="start_experiment text-center">
            <% if @existing_experiment_user.present? %>
              <%= link_to(
              "Retry this experiment",
              edit_experiment_user_path(experiment_id: params[:id]),
              class: already_doing_an_experiment ? "btn btn-success disabled mb-4" : "btn btn-success mb-4")
              %>
            <% else %>
              <%= link_to(
              "Start this experiment",
              new_experiment_user_path(experiment_id: params[:id]),
              class: already_doing_an_experiment ? "btn btn-success disabled mb-4" : "btn btn-success mb-4")
              %>
            <% end %>
          </div>
          <div class="text-center">
            <% if already_doing_an_experiment %>
              <span>You can run only one experiment at a time. If you want to cancel your current experiment,
              go to the <%= link_to("experiment overview page", dashboard_experiments_path) %>.</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
