<% content_for :robots, "noindex,follow" %>
<% content_for :meta_title, "Log in #{DEFAULT_META["meta_website"]}" %>

<main class="focus-form">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 form">
        <h2 class="text-intense">Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form_group">
          <%= f.label :email, required: true %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form_group">
          <%= f.label :password, required: true %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="form_group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="form_group">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <% end %>

        <div class="pt-4">
          <u><%= render "devise/shared/links" %></u>
        </div>
      </div>
    </div>
  </div>
</main>
