<main role="main">
  <section>
    <div class="jumbotron text-center bg-<%= @category.name.downcase %>">
      <div class="container">
        <h1 class="jumbotron-heading text-intense text-<%= @category.name.downcase %>"><%= @category.name %></h1>
        <p class="lead text-muted"><%= @category.description %></p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @experiments.each do |experiment| %>
          <div class="col-md-4 preview">
            <div class="card mb-4 shadow-sm">
              <a href="<%= experiment_path(id: experiment.slug) %>">
                <%= image_tag experiment.image, class: "card-img-top" if experiment.image.attached? %>
                <div class="card-body">
                  <h4 class="text-intense"><%= experiment.name %></h4>
                  <p class="card-text"><i class="fas fa-trophy"></i><%= experiment.objective %></p>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
