<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <% if robots_content.present? %>
      <meta name="robots" content="<%= robots_content %>">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700|Patua+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5a4e52920.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167571882-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167571882-1');
    </script>

    <script>
      window['GoogleAnalyticsObject'] = 'ga';
      window['ga'] = window['ga'] || function() {
        (window['ga'].q = window['ga'].q || []).push(arguments)
      };
      ga('create', 'UA-167571882-1', 'auto');
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=en&theme=momh&always=1&showNoConsent=1&hideDetailsBtn=1&showPolicyLink=1&remember=90&privacyPage=%2Fprivacy-statement%23cookiestatement"></script>
  </head>

  <body>
    <%= render "shared/nav" %>

    <%= render "layouts/messages" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
