<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>experiment.rocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700|Patua+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5a4e52920.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_ANALYTICS_SETTINGS[:tracking_code] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= GOOGLE_ANALYTICS_SETTINGS[:tracking_code] %>');
    </script>

    <script>
      window['GoogleAnalyticsObject'] = 'ga';
      window['ga'] = window['ga'] || function() {
        (window['ga'].q = window['ga'].q || []).push(arguments)
      };
      ga('create', '<%= GOOGLE_ANALYTICS_SETTINGS[:tracking_code] %>', 'auto');
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=en&theme=momh&always=1&showNoConsent=1&hideDetailsBtn=1&showPolicyLink=1&remember=90&privacyPage=%2Fprivacy-statement%23cookiestatement"></script>
  </head>

  <body>
    <%= render "shared/nav" %>

    <%= render "layouts/messages" %>

    <main class="focus-form">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 form">
            <h2 class="text-intense">Something went wrong</h2>
            <p><h3 class="h4"><%= yield %></h3></p>
            <p>I've been notified of the issue and will look into it as soon as I can.</p>
            <p>If I can help in any way in the meantime, feel free to <u><%= link_to "contact me", contact_path %></u>!</p>
            <p>Love, Marlies</p>
          </div>
        </div>
      </div>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
