<% content_for :robots, "noindex,follow" %>
<% content_for :meta_title, "Sign up #{DEFAULT_META["meta_website"]}" %>

<main class="focus-form bg-meaning">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 form rounded">
        <h2 class="text-intense">Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form_group">
          <%= f.label :first_name, required: true %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "name", class: "form-control", required: true %>
        </div>

        <div class="form_group">
          <%= f.label :email, required: true %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true %>
        </div>

        <div class="form_group">
          <%= f.label :password, required: true %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
        </div>

        <div class="form_group">
          <%= f.label :password_confirmation, required: true %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
        </div>

        <div class="form_group">
          <%= f.input :time_zone, class: "form-control", required: true %>
        </div>

        <%= f.invisible_captcha :age %>

        <div class="form_group">
          <label for="resource_agree_with_policy">
            <%= f.check_box :terms_agreement, class: "mr-2" %>
            I agree to the <u><%= link_to "terms & conditions", terms_conditions_path, target: "_blank" %></u> and
            <u><%= link_to "privacy statement", privacy_statement_path, target: "_blank" %></u>
          </label>
        </div>

        <div class="form_group mt-2">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
        <% end %>

        <div class="pt-4">
          <span>Already have an account?</span>
          <u><%= render "devise/shared/links" %></u>
        </div>
      </div>
    </div>
  </div>
</main>
